head
        meta(http-equiv='content-type', content='text/html; charset=utf-8')
        meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0', name='viewport')
        meta(content='yes', name='apple-mobile-web-app-capable')
        meta(content='black-translucent', name='apple-mobile-web-app-status-bar-style')
        meta(content='telephone=no', name='format-detection')
        meta(name='description', content=config.description)
        script(data-ad-client='ca-pub-4283941482669066' async='' src='https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
        block title
        script(type='text/javascript', src='https://raw.githack.com/HubSpot/pace/v1.0.0/pace.min.js')
        link(rel='preload', type='text/css', href='https://csec-cdn.intranet.pw/libraries/pace-v1.0.0.css', as="style")
        link(rel='stylesheet', type='text/css', href=url_for(theme.css) + '/style.css')
        link(rel='Shortcut Icon', type='image/x-icon', href=url_for('favicon.png'))
        link(rel='stylesheet', href='//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css')
        script(rel='dns-prefetch' type='text/javascript', src='//cdn.bootcss.com/jquery/3.3.1/jquery.min.js', as='script')
        script(src='https://polyfill.io/v3/polyfill.min.js?features=es6')
        script#MathJax-script(async='' src='https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js')
        link(rel='stylesheet' href='https://csec-cdn.intranet.pw/schoolnotes.intranet.pw/default.css')
        script(src='https://csec-cdn.intranet.pw/schoolnotes.intranet.pw/gitment.browser.js')
        block more
