form(id="j-formsch" class="form" method="get")
    input(type="text" id="local-search-input" name="q" class="txt" value="Search for..." onfocus="if(this.value=='Search for...'){this.value='';}" onblur="if(this.value==''){this.value='Search for...';}")
    input(type="text" style="display:none;")
